<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DXApplication1.Properties.Settings.DATHTTConnectionString"
            connectionString="Data Source=DESKTOP-6V52PV4\SQLEXPRESS;Initial Catalog=DATHTT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DXApplication1.Properties.Settings.DATHTTConnectionString1"
            connectionString="Data Source=Brian-PC;Initial Catalog=DATHTT;User ID=sa;Password=sa2008"
            providerName="System.Data.SqlClient" />
        <add name="DXApplication1.Properties.Settings.DATHTTConnectionString2"
            connectionString="Data Source=DESKTOP-6V52PV4\SQLEXPRESS;Initial Catalog=DATHTT;User ID=sa;Password=sa2014"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>